<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <title>Signup</title>
  <script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script>
  <script src="js/ar.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<div class="wrapper" id="registerForm">
  <form action="signup_student.php" method="post">
    <input type="text" name="uname" placeholder="Username">
    <br>
    <input type="text" name="email" placeholder="E-mail Address">
    <br>
    <input type="password" name="pWord" placeholder="Password">
    <br>
    <input type="text" name="year" placeholder="Year Of Study">
    <br>
    <button type "submit" class="button" name="submit">Register</button>
  </form>
</div>

<!--below handles live camera feed-->
<a-scene embedded arjs='trackingMethod: best; debugUIEnabled: false;' vr-mode-ui="enabled: false">
  <a-entity camera></a-entity>
</a-scene>
</body>